
#chat_box div:not(.nav-item){
  display:inline-block;
  clear: both;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
}
.user
{
float:right !important;
background: #0084ff;
color: #fff;

text-align: center;

}
.ali
{
  display: block;
  background: #eee;
  float: left !important;
  text-align: center;

}
.ali + .user{
  border-bottom-right-radius: 5px;
}
.user + .user{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.user:last-of-type{
  border-bottom-right-radius: 30px;
}
.user::before
{
    color: #391ec3;
    font-family: "overpass";
}


.ali::before
{

  margin-top: 4px;
  margin-bottom: 4px;

    color: #17d684;
    font-family: "overpass";
}
#chat_box{ list-style: none; padding:0;  margin:0;  }
