body {
  background: #2ecc71; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #1E8BC3, #1E8BC3);
  background: -moz-linear-gradient(right, #1E8BC3, #1E8BC3);
  background: -o-linear-gradient(right, #1E8BC3, #1E8BC3);
  background: linear-gradient(to left, #1E8BC3, #1E8BC3);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  font-family: "overpass";
}

.jumbo{
height:100vh;

}

h1, h2, h3 {
  color: #fff;
  font-family: "overpass";
}
ul li:not(.nav-item){
  display:inline-block;
  clear: both;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
}
.user
{
float:right;
background: #0084ff;
color: #fff;

text-align: center;

}
.ali
{
  background: #eee;
  float: left;
text-align: center;

}
.ali + .user{
  border-bottom-right-radius: 5px;
}
.user + .user{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.user:last-of-type{
  border-bottom-right-radius: 30px;
}
.user::before
{

    color: #391ec3;
    font-family: "overpass";

}


.ali::before
{

  margin-top: 3px;
  margin-bottom: 3px;

    color: #17d684;
    font-family: "overpass";
}
ul{ list-style: none; padding:0;  margin:0;  }
